{% extends 'base-back.html.twig' %}


{% block title %}Ajouter membre
{% endblock %}

{% block body %}
	<div class="page-body">
		<div class="container-fluid">
			<div class="page-header">
				<div
					class="row">{# <div class="col-sm-6">
												                  <h3>Ajouter équipe</h3>
												                  <ol class="breadcrumb">
												                    <li class="breadcrumb-item"><a href="{{ path('admin')}}"><i data-feather="home"></i></a></li>
												                    <li class="breadcrumb-item">Equipe</li>
												                    <li class="breadcrumb-item active">Ajouter équipe</li>
												                  </ol>
												                </div> #}

				</div>
			</div>
		</div>
		<!-- Container-fluid starts-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 col-xl-2"></div>
				<div class="col-sm-12 col-xl-8">
					<div class="row">

						<div class="col-sm-12">
							<div class="card">
								<div class="card-header pb-0">
									<h5>Ajouter membre</h5>
									<span>Using the
										<a href="#">card</a>
										component, you can extend the default collapse behavior to create an accordion.</span>
								</div>
								<div class="card-body">

									{{ form_start(form,{'attr' :{'novalidate':'novalidate'}}) }}
									<div class="mb-3 row">
										<label class="col-sm-3 col-form-label" for="inputPassword3">Nom</label>
										<div
											class="col-sm-9">
											{# <input class="form-control" name="nom" type="text" placeholder="Nom"> #}
											{{ form_errors(form.nom) }}
											{{ form_widget(form.nom)}}
										</div>
									</div>

									<div class="mb-3 row">
										<label class="col-sm-3 col-form-label" for="inputPassword3">Image</label>
										<div class="col-sm-9">
											{{ form_errors(form.image) }}
											{{ form_widget(form.image)}}
										</div>
									</div>

									<div class="mb-3 row">
										<label class="col-sm-3 col-form-label" for="inputEmail3">Role</label>
										<div class="col-sm-9">
											{{ form_errors(form.role) }}
											{{ form_widget(form.role)}}
										</div>
									</div>

									<div class="mb-3 row">
										<label class="col-sm-3 col-form-label" for="inputPassword3">Nationalité</label>
										<div class="col-sm-9">
											{{ form_errors(form.nationalite) }}
											{{ form_widget(form.nationalite)}}
										</div>
									</div>
									<div class="mb-3 row">
										<label class="col-sm-3 col-form-label" for="inputPassword3">Date de naissance</label>
										<div class="col-sm-9">
											{{ form_widget(form.date_naissance)}}
										</div>
									</div>


									<div class="mb-3 row">
										<label class="col-sm-3 col-form-label" for="inputPassword3">Équipe</label>
										<div class="col-sm-9">
											{{ form_errors(form.equipe) }}
											{{ form_widget(form.equipe)}}
										</div>
									</div>


									<div class="mb-3 row" id="num" style="display:none;">
										<label class="col-sm-3 col-form-label" for="inputPassword3">Numéro</label>
										<div class="col-sm-9">
											<input type="text" name="numero" class="form-control">
										</div>
									</div>

								</div>
								<div class="card-footer pt-0">
									{{ form_widget(form.Ajouter)}}
									{{ form_widget(form.Annuler)}}
								</div>

								{{ form_end(form)}}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- Container-fluid Ends-->
	</div>

	<script>
		$(document).on("change", "#membre_role", function (e) {
var role = $(this).val();
if (role == "Pilote") {
$("#num").show();
} else {
$("#num").hide();
}
});
	</script>
{% endblock %}
