{% extends 'base-front.html.twig' %}

{% block title %}ClassementEquipes index{% endblock %}

{% block body %}
 <div class="page-body">
    <h1>ClassementEquipes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ClassementEId</th>
                <th>SaisonYear</th>
                <th>EquipesEquipeId</th>
                <th>PointsTotal</th>
                <th>Position</th>
              
            </tr>
        </thead>
        <tbody>
        {% for classement_equipe in classement_equipes %}
            <tr>
                <td>{{ classement_equipe.classementEId }}</td>
                 <td>{{ classement_equipe.saisonsYear.year}}</td>
                <td>{{ classement_equipe.equipesEquipeId }}</td>
                <td>{{ classement_equipe.pointsTotal }}</td>
                <td>{{ classement_equipe.position }}</td>
                <td>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
     </d>
{% endblock %}
